* {
text-align: center;
background-color: whitesmoke;
font-family: monospace;
color: black;
}

nav {
position: fixed;
width: 100%;
padding: 0px;
top: 0;
z-index: 1;
font-family: monoscpace;
font-size: 20px;
letter-spacing: 2;
color: black;
background-color: whitesmoke;
}
    
html {
min-height: auto;
     max-height: 800px;
     min-width: auto;
     max-width: 500px;
     margin: auto;
}

 h1 {
    color:black; 
    letter-spacing: 2;
 }

 h3 {
letter-spacing: 4px;
font-family: monospace;
font-size: 30px;
position: relative;
 }

p {
    color: black;
    box-sizing: border-box;  
}

ul{
    background-color: whitesmoke;
}

 li{
     list-style-type: none;
     float: left;
     padding: 10px;
 }

 button {
     border-radius: 10px;
     padding: 5px;
     border-color: black;
     background-color: whitesmoke;
     transition-duration: 0.3s;
 }

 button:hover {
     font-size: small;
 }

 a{
     text-decoration: none;
transition-duration: 0.4s;
 }

 li a:hover{
     opacity: 0.8;
     color: red;
 }

 section {
     padding: 25px;
     margin:0 auto;
     box-sizing:content-box;
     top: 35px;
 }
 
 footer {
     bottom:30px;
     position: sticky;
     border-radius: 12px;
     float: right;
     padding: 10px;
     transition-duration: .4s;
 }

#intro , #projects ,
#about_me {
position: relative;

}

 #buttonlink {
     text-decoration: none;
     color: black;
     transition-duration: .4s;
    }
 

 .logo {
     letter-spacing: 4px;
     font-weight: lighter;
     font-size: 25px;
 }

 .pfp{
     border-radius: 10px;
    padding: auto 15px;
 }

 .search {
     border-radius: 12px;
     padding: 5px;
     font-size: 12px;
 }

#git_hub {
    border: none;
    padding: 20px;
    height: 70px;
    background-image: url(https://d29fhpw069ctt2.cloudfront.net/icon/image/38304/preview.svg) ;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 0.5s;
}
 
#git_hub:hover {
    background-size: 85%;
    cursor: pointer;
}
 
